<center style="font-size: 26px"> <b>Проверка уровня знаний Python</b></center>

### Проверка построена следующим образом:

- К каждому блоку приложены практические задания по теме блока
- К каждому практическому заданию приложен либо рабочий файл, либо дано вводное условие
- Для успешного прохождения проверки требуется правильно ответить на 10/15 вопросов
- Корректным ответом на вопрос считается любой работоспособный код, позволяющий достичь корректного результата (и использующий проверяемый синтаксис, если это указано в условии задания)

<center style="background-color: #23B04A; color: white; font-size: 16px"><b>NumPy</b></center>

`Numpy` - это библиотека Python для вычислительно эффективных операций с многомерными массивами, предназначенная в основном для научных вычислений.

### Технический код:
Данная часть нужна исключительно для корректной работы данной тетради. Исполните блок (Shift + Enter), не вдаваясь в суть написанного.

In [2]:
# обеспечиваем совместимость с Python 2 и 3
from __future__ import (absolute_import, division, print_function, unicode_literals)

# отключаем предупреждения дистрибутива Anaconda
import warnings
warnings.simplefilter('ignore')

### Практические задания:

In [18]:
# Импортируем библиотеки NumPy и Pandas
import numpy as np
import pandas as pd

#### 1. Создание массивов
Создайте и перемножьте одномерный и двумерный массивы при помощи библиотеки NumPy

In [4]:
a = np.array([[5, 1],
              [3, 2],
              [4, 2]])
b = np.array([1, 2])
c = a.dot(b)

#### 2. Методы создания массивов
Создайте один и тот же массив 3-мя разными способами при помощи библиотеки NumPy

In [5]:
# Можно создать одномерный матрицу и переделать её в двухмерную
a = np.matrix([[1, 2, 3, 4]], dtype=int)
a = a.reshape(2, 2)

# Можно создать стандарный класс Python - tuple
# и затем использовать метод asarray для переформатирования его в класс array библиотеки numpy
b = ([1, 2], [3, 4])
b = np.asarray(b, dtype=int)

# Также можно создать пустой массив требуемого размера при помощи метода empty
# и затем присвоить каждому элементу в массиве значение, присвоить значение можно вручную или в циклах
c = np.empty(shape=[2, 2], dtype=int)
c[0][0] = 1
c[0][1] = 2
c[1][0] = 3
c[1][1] = 4

# Также для созданя определенных матриц можно использовать такие методы как random, zeros, ones  и т.д.

#### 3. Индексирование массивов

Напишите код, производящий указанные в комментариях операции с массивами

In [6]:
a = np.diag(np.arange(3))  # Выделите значение = 1
valueOne = a[1][1] # Для получения значения
indexOne = np.where(a == 1) # Для получения индекса

b = np.random.rand(5, 5)  # Выделите первую строку
b[0]

с = np.arange(10) # Присвойте значение = 25 элементам массива с 3 по 6 включительно
c[2:6] = 25

#### 4. Индексирование масками

Выберите из предоставленного массива значения, делящиеся на 3 без остатка, и присвойте им значение = 10

In [7]:
np.random.seed(3)
a = np.random.random_integers(0, 20, 15)

a[(a % 3) == 0] = 10

#### 5. Меры центральной тенденции и меры вариации

Напишите код, находящий указанные в комментариях значения

In [8]:
a = np.linspace(0, 20, 5)  # Найти среднее арифметическое массива
average = np.median(a)

b = np.linspace(0, 30, 10)  # Найти медианное значение массива
median = np.median(b)

c = np.linspace(0, 10, 10)  # Найти кумулятивную сумму элементов массива
cumSum = np.cumsum(c)

<center style="background-color: #23B04A; color: white; font-size: 16px"><b>Pandas</b></center>

`Pandas` - это библиотека Python, предоставляющая широкие возможности для анализа данных. С ее помощью очень удобно загружать, обрабатывать и анализировать табличные данные с помощью SQL-подобных запросов. В связке с библиотеками Matplotlib и Seaborn появляется возможность удобного визуального анализа табличных данных (данные библиотеки включены в следующий уровень assessment'а).

#### 6. Чтение и первичная информация о файле
Выведите первые 15 значений (строк) датафрейма, полученного из файла 'adult.data'

In [20]:
# читаем файл и загоняем в датафрейм
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 
'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']

In [10]:
print(df[0:15])

    age          workclass  fnlwgt      education  education-num  \
0    39          State-gov   77516      Bachelors             13
1    50   Self-emp-not-inc   83311      Bachelors             13
2    38            Private  215646        HS-grad              9
3    53            Private  234721           11th              7
4    28            Private  338409      Bachelors             13
5    37            Private  284582        Masters             14
6    49            Private  160187            9th              5
7    52   Self-emp-not-inc  209642        HS-grad              9
8    31            Private   45781        Masters             14
9    42            Private  159449      Bachelors             13
10   37            Private  280464   Some-college             10
11   30          State-gov  141297      Bachelors             13
12   23            Private  122272      Bachelors             13
13   32            Private  205019     Assoc-acdm             12
14   40            Private  121772      Assoc-voc             11

            marital-status          occupation    relationship  \
0            Never-married        Adm-clerical   Not-in-family
1       Married-civ-spouse     Exec-managerial         Husband
2                 Divorced   Handlers-cleaners   Not-in-family
3       Married-civ-spouse   Handlers-cleaners         Husband
4       Married-civ-spouse      Prof-specialty            Wife
5       Married-civ-spouse     Exec-managerial            Wife
6    Married-spouse-absent       Other-service   Not-in-family
7       Married-civ-spouse     Exec-managerial         Husband
8            Never-married      Prof-specialty   Not-in-family
9       Married-civ-spouse     Exec-managerial         Husband
10      Married-civ-spouse     Exec-managerial         Husband
11      Married-civ-spouse      Prof-specialty         Husband
12           Never-married        Adm-clerical       Own-child
13           Never-married               Sales   Not-in-family
14      Married-civ-spouse        Craft-repair         Husband

                   race      sex  capital-gain  capital-loss  hours-per-week  \
0                 White     Male          2174             0              40
1                 White     Male             0             0              13
2                 White     Male             0             0              40
3                 Black     Male             0             0              40
4                 Black   Female             0             0              40
5                 White   Female             0             0              40
6                 Black   Female             0             0              16
7                 White     Male             0             0              45
8                 White   Female         14084             0              50
9                 White     Male          5178             0              40
10                Black     Male             0             0              80
11   Asian-Pac-Islander     Male             0             0              40
12                White   Female             0             0              30
13                Black     Male             0             0              50
14   Asian-Pac-Islander     Male             0             0              40

    native-country  salary
0    United-States   <=50K
1    United-States   <=50K
2    United-States   <=50K
3    United-States   <=50K
4             Cuba   <=50K
5    United-States   <=50K
6          Jamaica   <=50K
7    United-States    >50K
8    United-States    >50K
9    United-States    >50K
10   United-States    >50K
11           India    >50K
12   United-States   <=50K
13   United-States   <=50K
14               ?    >50K

Каждая строка данного фрейма - это участник социологического опроса, проведённого в Америке

#### 7. Индексация с условием
Вынесите в новый датафрейм с названием df_work мужчин (признак *sex*) старше 35 (признак *age*)

In [13]:
df_work = df[(df['sex'] == ' Male') & (df['age'] > 35)].reset_index()
# Метод reset_index() позволяет обновить индексы

#### 8. Группировка и меры центральной тенденции 
Сгруппируйте всех опрошенных по уровню образования (признак *education*) и найдите среднее значение по каждому из числовых (type = int) столбцов в каждой из получившихся групп

In [24]:
df_new = df.groupby('education').mean()

#### 9. Объединения и слияния
Объедините имеющийся датафрейм adult.data с прописанными ниже df_2 (новая колонка) и df_3 (новая строка), затем отсортируйте по признаку *age*

In [23]:
df_2 = pd.DataFrame({'random_column': np.random.rand(32561)})
df_3 = pd.DataFrame({'age': 40, 'workclass': 'Self-emp-not-inc', 'fnlwgt': 135415, 'education': 'Some-college', 'education-num': 10, 'marital-status': 'Married-civ-spouse', 'occupation': 'Other-service', 'relationship': 'Wife', 'race': 'White', 'sex': 'Female', 'capital-gain': 0, 'capital-loss': 0, 'hours-per-week': 5, 'native-country': 'United-States', 'salary': '<=50K'}, index=[32562])

# Присоединение справа нового столбца df_2 
df_new = df.join(df_2)
# Присоединение снизу нового новой строчки df_3 (с пустым значением поля 'random_column')
df_new = df.append(df_3)
# Сотритровка по возрастанию и полю 'age'
df_new = df.sort_values(by='age')

#### 10. Применение функций 
Замените каждое значение в каждом из числовых (type == int) столбцов на среднеквадратичное отклонение по этому столбцу

In [22]:
# Данный цикл перебирает все столбцы 
# Если тип переменной является int64 считается стандартной отклонение для выброного столбца (column)
# И затем этим значением замещаются все элементы в выброном столбце (column) при помощи функции loc
for column in df:
    if df[column].dtypes == "int64":
        df.loc[:, df[column].name] = df[df[column].name].std()

<center style="background-color: #23B04A; color: white; font-size: 16px"><b>Анализ данных по доходу населения UCI Adult</b></center>

### Практические задания:

#### Обновляем файл adult.data и решаем задания ниже на нём

Уникальные значения признаков в датафрейме:
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

#### 11. Каков средний возраст (признак *age*) мужчин?

In [25]:
# Обновление файла
df = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data', header=None)
df.columns = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
              'relationship', 'race', 'sex',
              'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary']

# Расчет и вывод среднего возраста для мужчин
average_manAge = df[df['sex'] == ' Male']['age'].mean()
print("Average man's age: " + str(average_manAge))

Average man's age: 39.43354749885268

**12. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак *salary*) и тех, кто получает менее 50K в год? **

In [26]:
# Средние значение возраста для мужчин с зарплатой меньше 50К
average_Age_less = df[(df['sex'] == ' Male') & (df['salary'] == ' <=50K')]['age'].mean()
print("Average the men's age with salary less 50K: " + str(average_Age_less))

# Средние значение возраста для мужчин с зарплатой больше 50К
average_Age_over = df[(df['sex'] == ' Male') & (df['salary'] == ' >50K')]['age'].mean()
print("Average the men's age with salary over 50K: " + str(average_Age_over))

# Стандартное отклонение возраста для мужчин с зарплатой меньше 50К
average_Age_less = df[(df['sex'] == ' Male') & (df['salary'] == ' <=50K')]['age'].std()
print("Standard deviation of the men's age with salary less 50K: " + str(average_Age_less))

# Стандартное отклонение возраста для мужчин с зарплатой больше 50К
average_Age_less = df[(df['sex'] == ' Male') & (df['salary'] == ' >50K')]['age'].std()
print("Standard deviation of the men's age with salary more 50K: " + str(average_Age_less))

Average the men's age with salary less 50K: 37.147012162876784
Average the men's age with salary over 50K: 44.62578805163614
Standard deviation of the men's age with salary less 50K: 13.856113156844579
Standard deviation of the men's age with salary more 50K: 10.485469314658532

**13. Найдите таким образом максимальный возраст мужчин расы *Amer-Indian-Eskimo*.**

In [27]:
# Расчет и вывод максимального возраста для для группы Amer-Indian-Eskimo
max_Age = df[(df['race'] == ' Amer-Indian-Eskimo')]['age'].max()
print("Max age in the Amer-Indian-Eskimo group: " + str(max_Age))

Max age in the Amer-Indian-Eskimo group: 82

**14. Какое максимальное число часов человек работает в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много (*salary* >50k)?**

In [28]:
# Максимальное количество часов в неделю
max_Hours = df['hours-per-week'].max()
print("Max amount of hours per a week: " + str(max_Hours))

# Количество людей которые работают максимальное количество часов в неделю
numberOf_People = len(df[df['hours-per-week'] == max_Hours])
print("Number of people with the max of hours per week: " + str(numberOf_People))

# Процент людей с большой зарплатой и максимальным количеством часов
percent = 100 * len(df[(df['hours-per-week'] == max_Hours) & (df['salary'] == ' >50K')]) / numberOf_People
print("Percent of people with the max of hours per week and a big salary: " + str(round(percent))+"%")

Max amount of hours per a week: 99
Number of people with the max of hours per week: 85
Percent of people with the max of hours per week and a big salary: 29%

**15. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой страны (*native-country*).**

In [29]:
print("Среднее количество часов в неделю для людей в разных странах с зарплатой ниже 50K")
average_Hours_less = df[df['salary'] == ' <=50K'].groupby('native-country').mean()['hours-per-week']
print(average_Hours_less)

print("Среднее количество часов в неделю для людей в разных странах с зарплатой выше 50K")
average_Hours_over = df[df['salary'] == ' >50K'].groupby('native-country').mean()['hours-per-week']
print(average_Hours_over)

Среднее количество часов в неделю для людей в разных странах с зарплатой ниже 50K
native-country
 ?                             40.164760
 Cambodia                      41.416667
 Canada                        37.914634
 China                         37.381818
 Columbia                      38.684211
 Cuba                          37.985714
 Dominican-Republic            42.338235
 Ecuador                       38.041667
 El-Salvador                   36.030928
 England                       40.483333
 France                        41.058824
 Germany                       39.139785
 Greece                        41.809524
 Guatemala                     39.360656
 Haiti                         36.325000
 Holand-Netherlands            40.000000
 Honduras                      34.333333
 Hong                          39.142857
 Hungary                       31.300000
 India                         38.233333
 Iran                          41.440000
 Ireland                       40.947368
 Italy                         39.625000
 Jamaica                       38.239437
 Japan                         41.000000
 Laos                          40.375000
 Mexico                        40.003279
 Nicaragua                     36.093750
 Outlying-US(Guam-USVI-etc)    41.857143
 Peru                          35.068966
 Philippines                   38.065693
 Poland                        38.166667
 Portugal                      41.939394
 Puerto-Rico                   38.470588
 Scotland                      39.444444
 South                         40.156250
 Taiwan                        33.774194
 Thailand                      42.866667
 Trinadad&Tobago               37.058824
 United-States                 38.799127
 Vietnam                       37.193548
 Yugoslavia                    41.600000
Name: hours-per-week, dtype: float64
Среднее количество часов в неделю для людей в разных странах с зарплатой выше 50K
native-country
 ?                     45.547945
 Cambodia              40.000000
 Canada                45.641026
 China                 38.900000
 Columbia              50.000000
 Cuba                  42.440000
 Dominican-Republic    47.000000
 Ecuador               48.750000
 El-Salvador           45.000000
 England               44.533333
 France                50.750000
 Germany               44.977273
 Greece                50.625000
 Guatemala             36.666667
 Haiti                 42.750000
 Honduras              60.000000
 Hong                  45.000000
 Hungary               50.000000
 India                 46.475000
 Iran                  47.500000
 Ireland               48.000000
 Italy                 45.400000
 Jamaica               41.100000
 Japan                 47.958333
 Laos                  40.000000
 Mexico                46.575758
 Nicaragua             37.500000
 Peru                  40.000000
 Philippines           43.032787
 Poland                39.000000
 Portugal              41.500000
 Puerto-Rico           39.416667
 Scotland              46.666667
 South                 51.437500
 Taiwan                46.800000
 Thailand              58.333333
 Trinadad&Tobago       40.000000
 United-States         45.505369
 Vietnam               39.200000
 Yugoslavia            49.500000
Name: hours-per-week, dtype: float64